# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Firebase sensitive files
firebase-config.js

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

models/similarity.pkl
models/
*.pkl